.blogwraper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 0px;
}

.blog__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 460px;
    width: -webkit-calc(100% / 3 - 20px);
    width: calc(100% / 3 - 20px);
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.1);
    box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    margin: 0 10px;
    margin-bottom: 66px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.blog__img {
    position: relative;
    height: 221px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 27px;
}

.blog__img .blog__img2 {
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.blog__title {
    height: 74px;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.015em;
    margin-bottom: 5px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

@media (min-width: 1024px) {
    .blog__item:hover .blog__title {
        color: #316BD2;
    }

    .blog__item:hover {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.2);
        box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.2);
    }
}

.blog__item p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #000000;
}

.blog__item__logo {
    width: 130px;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #ffffff;
    top: 20%;
    position: absolute;
    padding: 5px 5px;
    left: 0;
    z-index: 1;
}

.blog__img span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    color: grey;
}

.news {
    padding-top: 68px;
}

.news .title {
    margin-bottom: 69px;
}

.hidden {
    display: none;
}

.blog__more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog__more a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.blog__more a:hover {
    opacity: 0.8;
}

.blog__more a i {
    margin-left: 10px;
    font-size: 14px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.blog__more a.active i {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: 2px;
}

.blog__partner {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #778BA3;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.smi .title {
    margin-bottom: 70px;
    margin-top: 117px;
}

.smi .blog__item {
    height: 343px;
    margin-bottom: 30px;
}

.smi .blog__item .blog__title {
    margin-bottom: 20px;
    margin-top: 10px;
}

.smi .blog__item p {
    -webkit-line-clamp: 4;
}

.smi {
    padding-bottom: 170px;
}

.smi .blog__more {
    margin-top: 34px;
}

@media (max-width: 1200px) {
    .blog__img2 {
        height: auto;
    }

    .blog__img {
        height: auto;
        margin-bottom: 15px;
    }

    .blog__item {
        height: 400px;
    }

    .smi .blog__item {
        height: 300px;
    }

    .smi {
        padding-bottom: 100px;
    }
}

@media (max-width: 1023px) {
    .blog__item {
        width: -webkit-calc(100% / 2 - 20px);
        width: calc(100% / 2 - 20px);
        height: 450px;
    }
}

@media (max-width: 767px) {
    .blog__item__logo {
        width: 100px;
    }

    .news {
        padding-top: 25px;
    }

    .news .title {
        margin-bottom: 30px;
    }

    .blog__title {
        font-size: 16px;
        line-height: 22px;
    }

    .blog__item p {
        font-size: 14px;
        line-height: 19px;
    }

    .blog__item {
        height: 350px;
        margin-bottom: 30px;
    }

    .blogwraper {
        margin-bottom: 0;
    }

    .smi .title {
        margin-bottom: 30px;
    }

    .smi .blog__more {
        margin-top: 0;
    }

    .blog__item {
        -webkit-box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.2);
        box-shadow: 0px 5px 20px rgba(56, 106, 216, 0.2);
    }
}

@media (max-width: 559px) {
    .blog__item {
        width: 100%;
    }

    .blog__item {
        height: auto;
    }

    .smi .blog__item {
        height: auto;
        padding-bottom: 80px;
    }

    .blog__item__logo {
        width: 80px;
    }
}
